$color: #3378e0;
@mixin transform($value) {
  -webkit-transform: translateX($value);
  -moz-transform: translateX($value);
  -ms-transform: translateX($value);
  -o-transform: translateX($value);
  transform: translateX($value);
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

.new-game {
  button {
    position: relative;
    top: 50%;
    left: 50%;
    @include border-radius(12px);
    @include transform(-50%);
    background-color: red;
    width: 100px;
    height: 100px;
    color: #FFF;
    font-weight: bold;
  }
}

.buttons {
  margin-bottom: 20px;

  button {
    background-color: $color;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    @include transform(-50%);
    width: 100px;
    height: 100px;
    @include border-radius(12px);
    color: #FFF;
    font-weight: bold;
  }
}

#output, #result, #number-of-rounds {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}